@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

.container{
	border: solid black 3px;
}

.first_slide{
    /* background-color: blue; */
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}